* {
    margin: 0;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: Futura;
    src: url(Futura-font/weezerfont.ttf);
}

@font-face {
    font-family: Horizon;
    src: url(Horizon-font/horizon.otf);
}

/* applied to all pages */

body {
    background-color: #f4f2e7;
}

/* header */
nav {
    background-color: white;
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: 12vh;
    z-index: 5;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    text-align: center;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.a {
    height: 5vh;
    width: 8vw;
}

.a a{
    font-size: 15px;
    color: black;
}

nav p {
    margin-right: 55vw;
    font-size: 5vh;
    color: #fa3a99;
}

nav p span {color: #14aeba;}

.dropdown:hover .dropdown-content {
    display: block;
}

.a:hover {
    background-color: #E8E8E8;
}

nav a{text-decoration: none; color: #fa3a99;}

#navclr {color: #14aeba; font-size: larger;}

/* page 1 - banner */
.bannertitle {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fa3a99;
    font-size: 70px;
    text-align: center;
    padding-top: 30vh;
}

#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index:-1; 
}

/* page 1 - background */

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.1em;
    /*display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 0.1fr;
    column-gap: 5px;
    padding: 1em; */
}

#picbg {
    padding: 3em;
    /*padding-right: 20px;
    display: flex;
    justify-content: right;*/
}

#txtbg {
    font-size: xx-large;
    padding-left: 20px;
    /* display: flex;
    justify-content: left;*/
    font-family: Futura;
}

/* page 1 - achievements */

#achievements{
    font-size: xx-large;
    padding: 2em;
    font-family: 'Montserrat', sans-serif;
}

/* page 2 - initiatives */
#initiatives {
    background: url(media/image.png);
    width: 100vw;
    height: 80vh;
    background-size: 100%;
}

.titleinitiatives {
    text-align: center;
    background-color: #14aeba;
    color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    padding: 0.5em;
    font-family: Horizon;
    font-size: xx-large;
    margin-left: 10px;
}

.txtinitiatives {
    font-family: Futura; 
    color: white; 
    font-size: 5vh;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 40vw;
}

/* page 2 - involvement */
.involvement {
    display: flex;
    align-items: center;
}

.titleinvolvement {
    text-align: center;
    background-color: #14aeba;
    color: black;
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
    padding: 0.5em;
    font-family: Horizon;
    font-size: xx-large;
    margin-left: 2vw;
    margin-top: 3vh;
}

.picinvolvement {
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

.picinvolvement img {box-shadow: 2px 1px 10px black;}

.txtinvolvement {
    font-family: Futura;
    font-size: xx-large;
    display: flex;
    justify-content: flex-start;
    padding: 1.5em;
}

/* page 2 - activities */

.fullscreen23 {
    background-image: url(media/activity.png);
    background-size: 100%;
    height: 100vh;
    background-position: 0.5vw;

}

.activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3vh;
}

#picact img {box-shadow: 2px 1px 10px black;}
#picact {padding-left: 3vw;}

#txtact {
    text-align: right;
    font-size: xx-large;
    font-family: Futura;
    display: flex;
    align-content: center;
    padding-right: 3vw;
    padding-left: 5vw;
}

/* page 3 - who we are */

#wwa {
    background-image: url(media/wwa.png);
    background-size: 75%;
    height: 100vh;
    background-position-y: 0.1vh;
    background-position-x: 12vw;
}

#wwatitle {font-family: Horizon; text-align: center; font-size: xx-large;
    padding-top: 5vh;
}

#wwatxt {font-family: Futura; text-align: center; font-size: 4vh; 
    padding-right: 10em;
    padding-left: 10em;
    padding-top: 10vh;
}

/* page 3 - mission & vision */
/*.v_line {
    border-left: 1px solid rgb(0, 0, 0);
    height: 500px;
    margin: 0 auto;
    width: 2px;
} */

.ms {font-family: Horizon; font-size: larger;}
#ms {font-family: Futura; font-size: large;}

#mission {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5em;
    padding-right: 50em;
    padding-left: 2em;
}

#vision {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 50em;
}

#vision .ms {padding-top: 2em; text-align: center;}
#mission .ms {padding-bottom: 2em; text-align: center;}

/* page 3 - how to help */

#share {font-family: Horizon; font-size: xx-large; text-align: center; padding-top: 2vh;}
#bayanihan {color:#fa3a99;}
#spirit {color: #14aeba;}
#email {text-decoration: underline;}

.contact {
    font-family: Futura;
    font-size: xx-large;
    padding-left: 2vw;
}

#partner {color: #14aeba;}
#contribute {color: #fa3a99;}
#volunteer {color: #CB6CE6;}

/* footer */

footer {
    background-color: white;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13vh;
    z-index: 5;
}

footer p {margin-right: 60vw;}

.icon {
    background: url(media/sprite.png) no-repeat;
	width: 66px;
	height: 66px;
    margin-right: 10px;
}

#twt {background-position: -66px -72px;}
#ig {background-position: -290px -221px;}
#fb {background-position: -439px -146px;}

@media (orientation: portrait)
{
    body {flex-direction: column;}
}