* {
    margin: 0;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* applied to all pages */

body {
    background-color: #f4f2e7;
}

/* header */
nav {
    background-color: white;
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.a {
    height: 5vh;
    width: 10vw;
}

.a a{
    font-size: 15px;
    color: black;
}

nav p {
    margin-right: 55vw;
    font-size: xx-large;
    color: #fa3a99;
}

nav p span {color: #14aeba;}

.dropdown:hover .dropdown-content {
    display: block;
}

.a:hover {
    background-color: #E8E8E8;
}

nav a{text-decoration: none; color: #fa3a99;}

#navclr {color: #14aeba;}

/* page 1 */

.bannertitle {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fa3a99;
    font-size: xx-large;
}

#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index:-1; 
}

#achievements {background-color: white; border-radius: 10px; font-family: 'Montserrat', sans-serif;}

/* footer */

footer {
    background-color: white;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

footer p {margin-right: 60vw;}

.icon {
    background: url(media/sprite.png) no-repeat;
	width: 66px;
	height: 66px;
    margin-right: 10px;
}

#twt {background-position: -66px -72px;}
#ig {background-position: -290px -221px;}
#fb {background-position: -439px -146px;}

@media (orientation: portrait)
{
    body {flex-direction: column;}
}